body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  font-family: 'Comic Sans MS';

  font-size: 24px;
}

.calculator {
  background-color: rgb(236, 192, 210);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  border:rgb(237, 210, 221) 10pt solid;
}

.calculator__display {
  background-color: white;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  flex-grow: 1;
}

.calculator__button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  background-color: #eb91a6;
  color: white;
}

.calculator__button:hover {
  transform: translateY(4px);
}



